doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/font-awesome/font-awesome.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css')
  body
    block content
    script(id='setmore_script' type='text/javascript' src='https://my.setmore.com/js/iframe/setmore_iframe.js')
    script(type='text/javascript' src='/build/bundle.js')
