//Greys
$header-grey: #A6A6A6;
$header-off-white: #D8D8D8;
$grey-06: rgba(242,242,242,0.6);
$basically-white: rgba(255,255, 255, .95);
$lite-grey: #E6E6E6;
$grey-off-white-1: #f2f2f2;
$flat-bone: #EDEBE6;

//Blacks
$black-08: rgba(0, 0, 0, 0.8);
$black-05: rgba(0, 0, 0, 0.5);
$graphite: #333;
$hayden-dark: #4E4A49;

//Reds
$la-fin: #DE6262;
