@font-face {
  font-family: 'Lavanderia';
  src: url('../lib/fonts/Lavanderia/Lavanderia-Regular.eot'),
    url('../lib/fonts/Lavanderia/Lavanderia-Regular.woff2') format('woff2'),
    url('../lib/fonts/Lavanderia/Lavanderia-Regular.woff') format('woff'),
    url('../lib/fonts/Lavanderia/Lavanderia-Regular.ttf') format('truetype'),
    url('../lib/fonts/Lavanderia/Lavanderia-Regular.svg#Lavanderia-Regular') format('svg'),
    url('../lib/fonts/Lavanderia/Lavanderia-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lavanderia';
  src: url('../lib/fonts/Lavanderia/Lavanderia-Delicate.eot'),
    url('../lib/fonts/Lavanderia/Lavanderia-Delicate.woff2') format('woff2'),
    url('../lib/fonts/Lavanderia/Lavanderia-Delicate.woff') format('woff'),
    url('../lib/fonts/Lavanderia/Lavanderia-Delicate.ttf') format('truetype'),
    url('../lib/fonts/Lavanderia/Lavanderia-Delicate.svg#Lavanderia-Delicate') format('svg'),
    url('../lib/fonts/Lavanderia/Lavanderia-Delicate.eot?#iefix') format('embedded-opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Lavanderia';
  src: url('../lib/fonts/Lavanderia/Lavanderia-Sturdy.eot'),
    url('../lib/fonts/Lavanderia/Lavanderia-Sturdy.woff2') format('woff2'),
    url('../lib/fonts/Lavanderia/Lavanderia-Sturdy.woff') format('woff'),
    url('../lib/fonts/Lavanderia/Lavanderia-Sturdy.ttf') format('truetype'),
    url('../lib/fonts/Lavanderia/Lavanderia-Sturdy.svg#Lavanderia-Sturdy') format('svg'),
    url('../lib/fonts/Lavanderia/Lavanderia-Sturdy.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

