@import 'colors';

.home {
  display: flex;
  flex-direction: column;
  width: 100%;

  .content__row {
    flex: 1;
    padding-top: 1rem;

    &:not(:first-child) {
      padding-top: 3rem;
    }

    //carousel css
    &.carousel__row {
      width: 70%;
      margin: auto;
    }

    //description row
    &.description__row {
      height: 24em;
      width: 100%;

      .description {
        font-size: 2.5em;
        color: #333;
        text-align: center;
        font-weight: 100;
      }
    }
  }
}
