@import 'colors';

.category {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;

  .category-title {
    font-size: 3em;
    text-align: center;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 2em 0;
    color: rgba(0,0,0,0.5);
  }

  .services-container {
    display: flex;
    flex-wrap: wrap;

    .service {
      justify-content: space-between;
      display: flex;
      width: 50%;
      line-height: 5em;
      font-size: 1.5em;
      color: $graphite;

      &:nth-child(odd) {
        margin-right: auto;
      }

      &:nth-child(even) {
        margin-left: auto;
      }

      &:first-child:nth-last-child(1) {
        width: 100%;
        margin: 0;

        .service-name {
          max-width: 80%;
        }

        .service-name,
        .service-price {
          line-height: 2em;
        }
      }

      .service-name {
        font-weight: 700;
      }

      .service-price {
        font-weight: 100;
        padding-right: 25px;
      }
    }
  }
}
