@import 'reset';
@import 'colors';

#mainContent {
  font-family: "Helvetica Nueue", Helvetica, Arial, sans-serif;
  font-size: 14px;

  .page-wrap {
		top: 44px;
		position: absolute;
    width: 100%;
  }

	button:hover {
		cursor: pointer;
	}
}
