@import 'colors';

.stylists {
  font-family: "Helvetica Nueue", Helvetica, Arial, sans-serif;
	background-color: $flat-bone;
	color: $graphite;
	height: 100vh;

	.title {
		padding: 25px;
		font-size: 3em;
		text-align: center;
	}

	.stylists-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		background-color: $flat-bone;

		.name {
			padding: 15px;
			font-size: 2em;
			text-align: center;
		}

	  .stylist {
	    display: flex;
	    justify-content: flex-start;
			flex-direction: column;

	    .stylist-img {
				width: 25em;
				height: 25em;
			}

			.bio {
				width: 25em;
				padding-top: 15px;
			}
	  }
	}
}
