@import 'reset';
@import 'colors';
@import 'font';

body {
  background: linear-gradient(#F2F2F2, #FAFAFA);
  
  #root {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;

    .page-wrap {
      width: 80%;
      margin: auto;
      top: 44px;
      margin-bottom: 50px;
    }

    button:hover {
      cursor: pointer;
    }
  }
}
