@import 'colors';

.stylists {
	color: $graphite;

	.title {
		padding: 25px;
		font-size: 3em;
		text-align: center;
	}

	.stylists-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
    padding-bottom: 2rem;

		.name {
			padding: 15px;
			font-size: 2em;
			text-align: center;
		}

	  .stylist {
	    display: flex;
	    justify-content: flex-start;
			flex-direction: row;

      .stylist-img {
				width: 25em;
				height: 25em;

        // transform: ;
			}

      .bio-transition {
        width: 25em;
        height: 25em;
        position: absolute;
        margin-top: 3.85em;
      }

      .bio-transition-enter {
        position: absolute;
        opacity: 0;
      }

      .bio-transition-enter.bio-transition-enter-active {
        opacity: 1;
        transition: 500ms;
      }

      .bio-transition-leave {
        opacity: 1;
      }

      .bio-transition-leave.bio-transition-leave-active {
        opacity: 0;
        transition: 500ms;
      }

			.bio {
        width: 25em;
        height: 25em;
        position: absolute;
        background: rgba(255,255,255,.9);
        display: flex;
        
        &__text {
          align-self: center;
          padding: 1em;
        }
			}
	  }
	}
}

@keyframes fadeinout {
  50% { opacity: 1; }
}
