@import 'colors';

.stylists {
	color: $graphite;

	.title {
		padding: 25px;
		font-size: 3em;
		text-align: center;
	}

	.stylists-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
    padding-bottom: 2rem;

		.name {
			padding: 15px;
			font-size: 2em;
			text-align: center;
		}

	  .stylist {
	    display: flex;
	    justify-content: flex-start;
			flex-direction: row;

      .stylist-img {
				width: 25em;
				height: 25em;
			}

			.bio {
        align-self: center;
        font-size: 1.3rem;
			}

      &:nth-child(odd) {
        .bio {
          padding-left: 2rem;
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        .bio {
          padding-right: 2rem;
        }
      }
	  }
	}
}
